<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Angular Material style sheet -->
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
        <link rel="stylesheet" href="main.css">
    </head>
    <body ng-app="BlankApp" ng-cloak>
        <!--
          Your HTML content here
        -->  

        <!-- Angular Material requires Angular.js Libraries -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-resource.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

        <!-- Angular Material Library -->
        <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

        <!-- Your application bootstrap  -->
        <script type="text/javascript">
            /**
             * You must include the dependency on 'ngMaterial' 
             */
            var app = angular.module('BlankApp', ['ngMaterial', 'ngResource']);

            app
                    .controller('CurrentVidCtrl', function ($rootScope, $scope, $mdBottomSheet, $mdToast) {
                        $rootScope.audio = 'local';
                
                        $scope.showCurrentVideo = function () {                            
                            $scope.alert = '';
                            $mdBottomSheet.show({
                                templateUrl: 'bottom-sheet-current-vid-template.html',
                                controller: 'GridBottomSheetCtrl',
                                clickOutsideToClose: true
                            })
                        };
                    });

            app.controller('GridBottomSheetCtrl', function ($scope, $mdBottomSheet, $resource) {
                $scope.items = [
                    {name: 'Play', icon: 'icons/play.svg',
                        onClick: function () {
                            $resource('/resume').save({}, function (res) {
                                console.log(res);
                            });
                        }
                    },
                    {name: 'Pause', icon: 'icons/play.svg',
                        onClick: function () {
                            $resource('/pause').save({}, function (res) {
                                console.log(res);
                            });
                        }
                    },
                    {name: 'Stop', icon: 'icons/play.svg',
                        onClick: function () {
                            $resource('/stop').save({}, function (res) {
                                console.log(res);
                            });
                        }
                    }
                ];
                $scope.listItemClick = function ($index) {
                    $scope.items[$index].onClick();
                };
            });

            app.controller('AllVidCtrl', function ($rootScope, $scope, $resource) {
                $resource('/videos').query({}, function (res) {
                    $scope.files = res;
                });
                $scope.play = function (path) {
                    $resource('/play').save(angular.toJson({'filename': path, 'audio': $rootScope.audio}), function (res) {
                        console.log(res);
                    });
                };
            });

            app.factory('Videos', function ($resource) {
                return $resource('/videos');
            });
        </script>

        <div ng-controller="CurrentVidCtrl as cvid" layout="column" ng-cloak>
            <div class="inset" layout="row" layout-sm="column" layout-align="center">
                <md-button flex="50" class="md-primary md-raised" ng-click="showCurrentVideo()">Show Current Video</md-button>
            </div>
            <div class="inset" layout="row" layout-sm="column" layout-align="center">
                <md-input-container>
                    <label>Audio</label>
                    <md-select ng-model="audio">
                        <md-option>both</md-option>
                        <md-option>hdmi</md-option>
                        <md-option>local</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>

        <div ng-controller="AllVidCtrl as avid" layout="column" ng-cloak>
            <md-list flex>
                <md-subheader class="md-no-sticky">All Videos</md-subheader>
                <md-list-item class="md-3-line" ng-repeat="item in files" ng-click="play(item.path)">
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ item.name}}</h3>
                        <h4>{{ item.length}}</h4>
                    </div>
                </md-list-item>
            </md-list>
        </div>

    </body>
</html>